body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
}
.split{
    position: absolute;
    width: 50%;
    height: 100%;
}
.left{
    background: url(devil-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    background: url(angel-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.split img{
    z-index: 2;
    margin-top: 20rem;
}
.split img:hover{
    transform: scale(1.2);
}
.split.left::before{
    content: "";
    position: absolute;
    background-color: rgba(255, 99, 71, 0.4);
    width: 100%;
    height: 100%;
}
.split.right::before{
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
}
.hover-left .left{
    width: 75%;
}
.hover-left .right{
    width: 25%;
}
.hover-right .right{
    width: 75%;
}
.hover-right .left{
    width: 25%;
}
.split.left::before:hover{
    display: none;
}
.split, .split.right::before, .split.left::before{
    transition: all 1000ms ease-in-out;
}
