@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    background-image: url("https://images.unsplash.com/photo-1543718290-a207a786243a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-weight: normal;
    font-size: 3rem;
    margin-top: 0;
}

.container{
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    width: 60%;
    padding: 80px 20px;
    border-radius: 30px;
    color: white;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text{
    font-weight: bold;
    font-size: 4rem;
    margin: 0 2rem;
    line-height: 1;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}