{% extends "baseadmin.html" %}


        
{% block title%}
ADMIN DASHBORAD
{% endblock %}

{% block body %}
<div>
    <h3 style="text-align: center; background-color: #9E169E; color: white;"> <b> LOGIN AS ADMIN</b> </h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../static/images/5.jpg" height="385px" width="540px" >
        </div>
        <div class="col-md-6">
            <img src="../static/images/4.jpg" height="385px" width="540px">
        </div> 
    </div>
</div>
<br>
<div>
    <h1 style="text-align: center; background-color: #9E169E; color: white;"> <b> ONLINE EXAMINATION SYSTEM </b> </h1>
</div>

{% endblock %}