
{% extends "basestudent.html" %}


        
{% block title%}
quiz-start
{% endblock %}


  
{% block body %}

<div class="container-fluid">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title "> ANSWERS OF QUESTIONS</h4>
          <p class="card-category"> All the Answers of question are displaed below</p>
        </div>

          </div>
        </div>
        <link rel="stylesheet" href="../static/css/quiz1.css">
        <body>
            {% for idx in range(0,l_question) %}
            <div class="quiz-box  custom-box">
                <div class="question-number" style="font-size:18px ;
                color: #9E169E;
                font-weight:600 ;
                border-bottom: 1px solid #cccc;
                padding-bottom: 10px;
                line-height: 25px;" >
                    Question &nbsp; {{list_question[idx].ID}}
                </div>
                <div class="question-text" style="    font-size:22px ;
                color: #000000;
                line-height: 28px;
                font-weight:400 ;
                padding: 20px 0px;
                margin: 0;">
                    {{list_question[idx].question}} 
                </div>
                <div  class="option-container" style="    background-color: #cccc ; "  >
    
                    <input type="radio" value="{{list_question[idx].option1}}" name="option" class="option">
                    <label  style="color: black;">{{list_question[idx].option1}}</label><br>
                  
                    <input type="radio" value="{{list_question[idx].option2}}"  name="option" class="option">
                    <label  style="color: black;">{{list_question[idx].option2}}</label><br>
                
                    <input type="radio" value="{{list_question[idx].option3}}"  name="option" class="option">
                    <label style="color: black;" >{{list_question[idx].option3}}</label><br>
    
                    <input type="radio" value="{{list_question[idx].option4}}"  name="option" class="option">
                    <label style="color: black;" >{{list_question[idx].option4}}</label>
    
                </div>
                <p style="color:#9E169E ;">
                    <br>
                   <b > ANSWER is &nbsp; &nbsp; {{list_question[idx].correct_option}} </b>
                </p>
    
            </div>
            {% endfor %}
        </body>

  <!-- your footer here -->
</div>
</div>
</div>



    {% endblock %}        