
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/quiz.css">
        <title>Document</title>
    </head>
    <body>

        <div class="result-box custom-box">
            <h1> QUIZ RESULT</h1>
            <table>
                <tr>
                   <td> Total Questions</td>
                   <td><span class="total-question">5</span></td>
                </tr>
                <tr>
                    <td>Attempt</td>
                    <td><span class="total-attempt">5</span></td>
                </tr>
                <tr>
                    <td>Correct</td>
                    <td><span class="total-correct">3</span></td>
                </tr>
                <tr>
                    <td>Wrong</td>
                    <td><span class="total-wrong">2</span></td>
                </tr>
                <tr>
                    <td>Your total score</td>
                    <td><span class="total-score">3</span></td>
                </tr>
            </table>

        </div>
    </body>
    </html>
